<section id="footer">
    <div class="footer container">
        <div class="name">
            <h1 class="section-title"><span>N</span>ipun <span>S</span>andaruwan</h1>
        </div>
        <div class="social-icons">
            <div class="icon">
                <a href="#"><img src="assets/service.png"></a>
            </div>

            <div class="icon">
                <a href="#"><img src="assets/service.png"></a>
            </div>

            <div class="icon">
                <a href="#"><img src="assets/service.png"></a>
            </div>

            <div class="icon">
                <a href="#"><img src="assets/service.png"></a>
            </div>
        </div>
        <p>Copyright 2022 Nipun. All right reserved</p>
    </div>
</section>
