<section id="about">
    <div class="about container">
        <div class="col-left">
            <div class="about-img">
                <img src="assets/car.jpg">
            </div>
        </div>

        <div class="col-right">
            <h1 class="section-title">About <span>ME</span></h1>
            <h2>Front End Developer</h2>
            <p>Lorem ipsum dolor sit amet, conset. Etiam semper diam at erat pulvinar, at pulvinar felis blandit. lper diam a felis blana libero rhoncus ut.Lorem ipsum dolor sit amet, conset. Etiam semper diam at erat pulvinar, at pulvinar felis blandit. lper diam a felis blana libero rhoncus ut.Lorem ipsum dolor sit amet, conset. Etiam semper diam at erat pulvinar, at pulvinar felis blandit. lper diam a felis blana libero rhoncus ut.Lorem ipsum dolor sit amet, conset. Etiam semper diam at erat pulvinar, at pulvinar felis blandit. lper diam a felis blana libero rhoncus ut.Lorem ipsum dolor sit amet, conset. Etiam semper diam at erat pulvinar, at pulvinar felis blandit. lper diam a felis blana libero rhoncus ut. </p>
             <a type="button" class="cta" href="#">Download Resume</a>   
        </div>
    </div>
</section>
    

