.container{
    min-height: 100vh;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

#hero img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    overflow: hidden;
}

#hero{
    color: white;
    content: '';
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .99;
    z-index: -1;
}

#hero h1{
    display: block;
    width: fit-content;
    font-size: 2rem;
    font-weight: 5000;
    position: relative;
    color: white;
}

#hero .cta{
    display: inline-block;
    padding: 10px 30px;
    color: red;
    background-color: transparent;
    border: 2px solid;
    font-size: 2rem;
    letter-spacing: .1rem;
    margin-top: 20px;
    transition: 1s ease ;
    transition-property: background-color,color;
}

#hero .cta:hover{
    color: white;
    background-color: red;
}