<section id="projects">
    <div class="projects container">
        <div class="projects-header">
            <h1 class="section-title">
                Pro<span>j</span>ec<span>t</span>s
            </h1>
        </div>

        <div class="all-projects">
            <div class="projects-item">
                <div class="project-info">
                    <h1 class="project-name">Project 1</h1>
                    <p>Lorem ipsum dolor sit amet, conset. Etiam semper diam at erat pulvinar, at pulvinar felis blandit. lper diam a felis blana libero rhoncus ut.</p>
                </div>
    
                <div class="project-img">
                    <img src="assets/car.jpg">
                </div>
            </div>

            <div class="projects-item">
                <div class="project-info">
                    <h1 class="project-name">Project 1</h1>
                    <p>Lorem ipsum dolor sit amet, conset. Etiam semper diam at erat pulvinar, at pulvinar felis blandit. lper diam a felis blana libero rhoncus ut.</p>
                </div>
    
                <div class="project-img">
                    <img src="assets/car.jpg">
                </div>
            </div>

            <div class="projects-item">
                <div class="project-info">
                    <h1 class="project-name">Project 1</h1>
                    <p>Lorem ipsum dolor sit amet, conset. Etiam semper diam at erat pulvinar, at pulvinar felis blandit. lper diam a felis blana libero rhoncus ut.</p>
                </div>
    
                <div class="project-img">
                    <img src="assets/car.jpg">
                </div>
            </div>

            <div class="projects-item">
                <div class="project-info">
                    <h1 class="project-name">Project 1</h1>
                    <p>Lorem ipsum dolor sit amet, conset. Etiam semper diam at erat pulvinar, at pulvinar felis blandit. lper diam a felis blana libero rhoncus ut.</p>
                </div>
    
                <div class="project-img">
                    <img src="assets/car.jpg">
                </div>
            </div>

            <div class="projects-item">
                <div class="project-info">
                    <h1 class="project-name">Project 1</h1>
                    <p>Lorem ipsum dolor sit amet, conset. Etiam semper diam at erat pulvinar, at pulvinar felis blandit. lper diam a felis blana libero rhoncus ut.</p>
                </div>
    
                <div class="project-img">
                    <img src="assets/car.jpg">
                </div>
            </div>
            
        </div>
    </div>

</section>
