<section id="contact">
    <div class="contact container">
        <div>
            <h1 class="section-title">Contact <span>Info</span></h1>
        </div>

        <div class="contact-items">
            <div class="contact-item">
                <div class="icon">
                    <img src="assets/service.png">
                </div>
                <div class="contact-info">
                    <h1>Phone</h1>
                    <h3>075 80 27 362</h3>
                    <h3>071 72 27 362</h3>
                </div>
            </div>

            <div class="contact-item">
                <div class="icon">
                    <img src="assets/service.png">
                </div>
                <div class="contact-info">
                    <h1>Email</h1>
                    <h3>nipunsandaruwan47@gmial.com</h3>
                    <!-- <h3>0717227362</h3> -->
                </div>
            </div>

            <div class="contact-item">
                <div class="icon">
                    <img src="assets/service.png">
                </div>
                <div class="contact-info">
                    <h1>Address</h1>
                    <h3>No 69 , Shasanajothi Mawatha,</h3>
                    <h3>Thelawala Road,</h3>
                    <h3>Mount Lavinia.</h3>
                </div>
            </div>
        </div>
    </div>
</section>
