<section id="services">
    <div class="service container">
        <div class="service-top">
            <h1 class="title">Services</h1>
        </div>

        <div class="service-bottom">
            <div class="service-items">
                <div class="icon">
                    <img src="../assets/service.png" alt="">
                    <h2>Web Design</h2>
                    <p>Lorem ipsum dolor sit amet, conset. Etiam semper diam at erat pulvinar, at pulvinar felis blandit. 
                        lper diam a felis blana libero rhoncus ut.</p>
                </div>

            </div>

            <div class="service-items">
                <div class="icon">
                    <img src="../assets/service.png" alt="">
                    <h2>Web Design</h2>
                    <p>Lorem ipsum dolor sit amet, conset. Etiam semper diam at erat pulvinar, at pulvinar felis blandit. 
                        lper diam a felis blana libero rhoncus ut.</p>
                </div>

            </div>

            <div class="service-items">
                <div class="icon">
                    <img src="../assets/service.png" alt="">
                    <h2>Web Design</h2>
                    <p>Lorem ipsum dolor sit amet, conset. Etiam semper diam at erat pulvinar, at pulvinar felis blandit. 
                        lper diam a felis blana libero rhoncus ut.</p>
                </div>

            </div>

            <div class="service-items">
                <div class="icon">
                    <img src="../assets/service.png" alt="">
                    <h2>Web Design</h2>
                    <p>Lorem ipsum dolor sit amet, conset. Etiam semper diam at erat pulvinar, at pulvinar felis blandit. 
                        lper diam a felis blana libero rhoncus ut.</p>
                </div>

            </div>

            
        </div>

    </div>


</section>



